.wrapper {
  background-color: rgba(255, 255, 255, 0.61);
  display: flex;
  margin-top: 1rem;
  width: 50vw;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  z-index: 10;
}

.btn {
  display: inline-block;

  padding: 0.6rem 3.5rem;
  border-radius: 5px;
  font-weight: 600;
  background: #24578d;
  color: #fff;
  border: none;
  text-decoration: none;
  transition: all 400ms ease-in-out;
}
.btn:hover {
  cursor: pointer;
  background: #3178c6;
}
